* {
  box-sizing: border-box;
  margin: 0;
}

body, html  {
  padding: 0;
  height: 100%;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url(../images/cage-background.png);
  width: 980px;
}

h3  {
  font-family: 'Chau Philomene One', 'Chelsea Market', cursive;
  text-align: right;
  width: 200px;
  font-size: 20px;
  color: #ffffff;
}

h4  {
  color: #ffffff;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 10px;
 }

p {
  color: #ffffff;
  font-family: 'Chelsea Market','Chau Philomene One', sans-serif;
  font-size: 18px;
}

.col-sm-12 {
  margin-top: 70px;
  float: left;
}

.col-sm-10 {
  margin-top: 15px;
  float: left;
}

#column>p,
.col-sm-5>p {
  color: black;
  font-size: 14px;
}

button {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 110px;

}


.container{
 margin:10px;
 padding:10px;
 width: 100%;

}

#ike,
 #maggie,
 #michelle,
#stewie,
.playerArea {
 width:150px;
 min-height:125px;    
/* padding:5px;    
*/  margin:5px;
 
  background:#fff;
  font-size:14px;
 text-align: center;
  display:inline-block;
  position:relative;
  float:left;
  border-style: solid;
  border-color: green;
  border-width: 10px;
}


 #ike,
 #maggie,
 #michelle,
#stewie,
.playerArea span {
/* border-bottom:1px solid lightgray;
*/ /*margin:10px 0px 10px 0px;
 padding:10px 0px 10px 0px;*/
 display:block;    
 font-size:16px;
 color: black;
 font-weight:bold;
}

.playerArea.imgcontainer img{
 max-width:100%;
 background:#ccc;
 display:block;
}

#stats-area {
  width:300px;
  min-height: 230px;
  margin:5px;
  margin-right: 300px;
  background:#fff;
  font-size:14px;
  display:inline-block;
  /*position:relative;*/
  float:right;
  border-style: solid;
  border-color: #0000ff;
  border-width: 10px;
}
.img-responsive {
  padding-top: 10px;
}

img {
  width: 125px;
}
#win-loss,
#statusUpdate {
  font-size: 14px;
  color: black;
  font-family: Arial;
  text-align: center;
  margin-left: 10px;
}
#ike-health,
#maggie-health,
#michelle-health,
#stewie-health {
font-size: 12px;
}

#enemyArea {
  height: 150px;
}

.charName {
  text-align: center;
}
 
.navbar-inverse  {
  background-color: black;
  height: 70px;
}

.navbar-right>a {
color: #ff6600;
font-family: 'Chelsea Market','Chau Philomene One', sans-serif;
font-size: 38px;
margin-right: 40px;
margin-bottom: 20px;
}
.navbar-right>a:hover {
text-decoration: none;
color: #a6843f;
}

.navbar-right {
  margin-top: 10px;
}
  